.content {
  display: grid;
  grid-template-columns: 220px 1fr;
}
.header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  h2{
    margin: 0;
  }
}

aside {
  background-color: #eee;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Alternate row background color */
tr:nth-child(even) {
  background-color: #f9f9f9;
}

.my-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 8px 0 ;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  color: #fff;
  background-color: #4caf50;
  cursor: pointer;
  transition: background-color 0.3s;
  &:hover {
    background-color: #45a049;
  }
}

.delete-btn {
  @extend .my-button;
  background-color: #c74a4a;
  &:hover {
    background-color: #ad2323;
  }
}
.edit-btn {
  @extend .my-button;
  background-color: #2b7b9b;
  &:hover {
    background-color: #00558d;
  }
}

/* Modal Overlay Styling */
.modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

/* Modal Content Styling */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  margin: auto;

  h2 {
    margin-top: 0;
  }
}

.modal-overlay.open {
  display: flex !important; /* Displayed when "open" class is present */
}

// Form Design
form {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minamx(120px, 1fr));
  label{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
  }
  input {
    padding: 0.7rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin: 0;
  }
}
